@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}
